* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

body {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    background-color: #fbfcff;
}

h1 {
    font-size: 5rem;
    font-weight: 490;
}

ul {
    list-style: none;
}

.section-1 {
    background-image: url(./img/victor-grabarczyk-N04FIfHhv_k-unsplash-1.jpg);
    width: 100%;
    height: 94vh;
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    vertical-align: middle;
    color: white;
    font-size: 1.5rem;
     
}

.navigation > img {
    width: 9rem;
    margin-left: 12rem
}

.navigation > img:hover{
    cursor: pointer;
}

.navigation > ul {
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
    margin-top: 1.8rem;
}

.navigation > ul > li {
    padding: 1.5rem;
}

.navigation > ul > li:hover{
    color: #ffb100 ;
    cursor: pointer;
    color-interpolation-filters: sRGB;
}

.navigation > span {
    font-size: 1.12rem;
    font-weight:lighter;
    padding: 1.5rem;
    margin-right: 12rem;
    margin-top: 2rem;
    color: black;
}

.navigation > span:hover{
    cursor: pointer;
}


.section-1-detail {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 18%;
}

.section-1-detail > h1 {
    padding: 1rem;
    color: #00484f;
    
}

.section-1-detail > p {
    font-size: 2rem;
    margin-left: 1.5rem;
    font-weight: bold;
    color: #0c71c3;
    

}

.section-1-detail > button {
    padding: 1.6rem 3rem;
    margin: 4rem 2rem;
    background-color:  #ffb100;
    border-radius: 0.55rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.section-1-detail > button:hover{
    background-color: #e3c8be ;
    transition: 0.3s;
    cursor: pointer;
}


/* section-2 */
 
.section-2 {
    width:100% ;
    padding-top: 3rem;
    align-items: center;
    justify-content: center;
     
}

.section-2-container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 3rem
    ;
    /* grid-template-rows: 1fr; */
}

.cart {
    background-color: #ffffff;
    box-shadow: 10px 10px goldenrod;
    /* width: 25%; */
     

}

.cart > img {
    width: 100%;
}

.cart > h4 {
    padding: 1rem;
    margin-top: 1rem;
}

.cart #reference {
    padding: 1rem;
    margin-top: -1.5rem;
    font-size: 0.85rem;
}

.cart > p {
    padding: 1rem;
    line-height: 1.8rem;
    margin-top: -1.5rem;
    /* font-size: 1.2rem; */
    /* letter-spacing: 0.2rem; */
}

.section-2-container > #section-2-entries {
    color: #2ea3f2;
    margin: 1rem 0;
     
}




/* section-3 */

.section-3 {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(90deg,rgba(0,0,0,0) 0%,#2c2b4c 80%),url(./img/fatty-corgi-Zn5chZcnFRA-unsplash-1-1.jpg)!important;
    background-size: 100% 30%;
    background-repeat: no-repeat;
    margin: auto;
     
     
    
}

.section-3-container {
    display: flex;
    flex-direction: row;
    padding-top: 16%;
    margin: auto;
    width: 65%;
    height: 100%;
     
     
    /* margin: auto; */

}

.section-3-socials > ul {
    font-size: 1.7rem;
    display: flex;
    /* margin-left: 40%; */
    /* padding: 1rem; */
     
}

.section-3-socials > ul > li {
    padding: 0.35rem;
    margin-top: -0.5rem;

    color:  #ffb100;
}

.section-3-socials > ul > li:hover{
    color:#6c00ff;
    cursor: pointer;
}

.section-3-Categories{
     
    text-align: left;
    margin-left: 2.7rem;
     
}

.section-3-Categories > h2 {
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    font-size: 1.35rem;
    font-weight: 650;
    color: #353338;
}

.section-3-Categories > ul > li {
    padding: 0.5rem;
    color: #ffb100;
    font-weight: 500;
}

.section-3-Categories > ul > li:hover{
    color:#6c00ff;
    cursor: pointer;
}

.section-3-Site_Resources{
    /* font-size: 2rem; */
    text-align: left;
 
    margin-left: 35%;
    
}

.section-3-Site_Resources > h2 {
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    font-size: 1.35rem;
    font-weight: 650;
    color: #353338;
}

.section-3-Site_Resources > ul > li{
    padding: 0.5rem;
     
    /* font-size: 1.5rem; */
    color: #ffb100;
    font-weight: 500;
}

.section-3-Site_Resources > ul > li:hover{
    color: #6c00ff;
    cursor: pointer;
}

footer{
    text-align: center;
    border-top: 1px solid;

     
}

footer > p {
    padding: 2rem;
    font-weight: 700;
    background-color: goldenrod;
}


 
 
